.DesktopMenu {
    padding: 40px 0;

    .menuItem {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        line-height: 0;
        color: white;
        width: 170px;
        height: 40px;
        border-radius: 0; 
        border-left: 5px solid gray;
        opacity: 0;
        animation: fade-in .2s;
        animation-fill-mode: forwards;

        .icon, .iconText {
            font-family: "Bebas Bold";
            letter-spacing: 2px;
            transform: translateX(-30px);
            transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        .icon {
            font-size: 24px;
            opacity: 0;
        }

        .iconText {
            margin-left: 10px;
            font-size: 24px;
            margin-top: 4px;
        }

        &.firstItem {
            animation-delay: 0.6s;
        }

        &.secondItem {
            animation-delay: 0.65s;
        }

        &.thirdItem {
            animation-delay: 0.7s;
        }

        &.fourthItem {
            animation-delay: 0.75s;
        }

        &.fifthItem {
            animation-delay: 0.8s;
        }

        &.sixthItem {
            animation-delay: 0.85s;
        }

        &:focus, &:hover, &.highlight {
            color: black;
            border-left: none;

            .icon, .iconText {
                transform: translateX(0);
                opacity: 1;
            }
        }

        &:focus, &:hover {
            background: linear-gradient(
                to right,
                #ffffff 0 70%,
                rgba(#ffffff, 0)
            );
        }

        &.highlight {
            background: linear-gradient(
                to right,
                #d3d3d3 0 70%,
                rgba(#d3d3d3, 0)
            );
        }
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }

    90% {
        animation-timing-function: cubic-bezier();
        opacity: 1;
        transform: translateY(-2px);
    }

    100% {
        animation-timing-function: cubic-bezier();
        opacity: 1;
        transform: translateY(0px);
    }
}