html,
body,
main,
#root {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

html {
  body {
    background: black;
    color: white;

    div {
      // For Chrome & Safari
      ::-webkit-scrollbar {
        width: 1px;
      }

      ::-webkit-scrollbar-thumb {
        background: white;
      }
      ::-webkit-scrollbar-track {
        width: 1px;
        background: transparent;
      }

      // firefox only
      scrollbar-color: white transparent;
      scrollbar-width: thin;
    }

    /* Material-UI overrides */
    .MuiButton-root {
      border-radius: 0px;
      border: 2px solid white;
      color: white;
    }

    .MuiChip-label {
      padding-left: 8px;
      padding-right: 8px;
    }

    a {
      color: gray;
      &:hover {
        color: white;
      }
      transition: color 0.05s ease-in;
    }

    .article {
      display: flex;
      flex-direction: column;

      h1 {
        font-family: "HelveticaNeueBold";
        font-size: 22px;
        font-weight: normal;

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: grey;
        }
      }

      h2 {
        font-family: "HelveticaNeueMedium";
        font-size: 20px;
        font-weight: normal;
      }

      p {
        font-family: "HelveticaNeueLight";
        font-size: 16px;
      }

      iframe {
        max-width: 100%;
        max-height: 100%;
        align-self: center;
      }

      figcaption {
        padding-top: 8px;
        font-family: "HelveticaNeueLight";
        font-size: 14px;
        align-self: center;
      }
    }
  }
}

@font-face {
  font-family: "BebasNeue";
  src: url("/_static/fonts/BebasNeue/Bold.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueBlack";
  src: url("/_static/fonts/HelveticaNeue/Black.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueBold";
  src: url("/_static/fonts/HelveticaNeue/Bold.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueMedium";
  src: url("/_static/fonts/HelveticaNeue/Medium.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueRegular";
  src: url("/_static/fonts/HelveticaNeue/Regular.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueLight";
  src: url("/_static/fonts/HelveticaNeue/Light.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueThin";
  src: url("/_static/fonts/HelveticaNeue/Thin.woff2") format("woff2");
}

@font-face {
  font-family: "HelveticaNeueUltralight";
  src: url("/_static/fonts/HelveticaNeue/Ultralight.woff2") format("woff2");
}

/* for react-lazy-load-image-component. Remix is probably breaking the import,
 * so manually duplicating it here for now
 * https://github.com/Aljullu/react-lazy-load-image-component#using-effects
 */
.lazy-load-image-background.blur {
  filter: blur(15px);
}

.lazy-load-image-background.blur.lazy-load-image-loaded {
  filter: blur(0);
  transition: filter 0.3s;
}

.lazy-load-image-background.blur > img {
  opacity: 0;
}

.lazy-load-image-background.blur.lazy-load-image-loaded > img {
  opacity: 1;
  transition: opacity 0.3s;
}
