.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
node_modules
**/__pycache__
api/.venv
api/.ruff_cache
api/static/
web/server/*
web/build/*
preferences.arc
sam.json
sam.yaml

/cypress/screenshots
/cypress/videos
