@import "src/textStyles.scss";

.Melee {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;

	.imageContainer {
		padding: 25px;

		.image {
			border: 1px solid grey;
			filter: grayscale(100%);
			transition: all 0.2s ease-in;

			&:hover {
				filter: grayscale(0%);
				border: 1px solid white;
			}
		}
	}

	.descriptionContainer {
		width: 100%;
		padding: 25px;
		display: flex;
		flex-direction: column;

		.description {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.header {
				font-size: 30px;
				font-family: "Bebas Regular";
				font-weight: 200;
				letter-spacing: 1px;
			}

			.body {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				font-size: 16px;
				font-family: "Brandon Medium";

				.link {
					@include link;
				}
			}
		}
	}
}
