".bzr",
".direnv",
".eggs",
".git",
".git-rewrite",
".hg",
".ipynb_checkpoints",
".mypy_cache",
".nox",
".pants.d",
".pyenv",
".pytest_cache",
".pytype",
".ruff_cache",
".svn",
".tox",
".venv",
".vscode",
"__pypackages__",
"_build",
"buck-out",
"build",
"dist",
"django-cors-headers>=4.3.1",
"django-filter>=24.1",
"django>=5.0.2",
"graphene-django>=3.2.0",
"node_modules",
"psycopg>=3.1.18",
"python-dotenv>=1.0.1",
"site-packages",
"venv",
[build-system]
[project]
[tool.hatch.build.targets.wheel]
[tool.hatch.metadata]
[tool.ruff.format]
[tool.ruff.lint]
[tool.ruff]
[tool.rye]
]
]
allow-direct-references = true
build-backend = "hatchling.build"
dependencies = [
description = "Add your description here"
dev-dependencies = []
docstring-code-format = false
docstring-code-line-length = "dynamic"
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"
exclude = [
fixable = ["ALL"]
ignore = []
indent-style = "space"
indent-width = 4
line-ending = "auto"
line-length = 88
managed = true
name = "api"
packages = ["src/api"]
quote-style = "double"
readme = "README.md"
requires = ["hatchling"]
requires-python = ">= 3.12"
select = ["E4", "E7", "E9", "F"]
skip-magic-trailing-comma = false
target-version = "py312"
unfixable = []
version = "0.1.0"
