.ArticlePage {
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;

	.titleContainer {
		padding-top: 16px;
		position: relative;
		display: flex;
		flex-direction: row;
		height: 50px;
		width: calc(100% - 100px);
		max-width: 1200px;
		overflow: hidden;

		.title {
			font-family: "Bebas Bold";
			font-size: 50px;
			margin-left: 15%;

			&:before,
			&:after {
				position: absolute;
				height: 2px;
				top: 36px;
				width: 0;
				background: white;
				content: "";
			}

			&:before {
				left: 0;
			}

			&:after {
				margin-left: 16px;
			}
		}

		&.mobile {
			justify-content: center;
			overflow: visible;
			height: 35px;
			width: calc(100% - 50px);
			align-items: center;

			.left,
			.right {
				width: 0;
				flex-grow: 1;
				background: white;
				height: 2px;
			}

			.left {
				margin-right: 10px;
			}

			.right {
				margin-left: 10px;
			}

			.title {
				transform: translateY(3px);
				font-size: 35px;
				margin-left: 0%;

				&:before {
					top: 30px;
				}

				&:before,
				&:after {
					content: none;
				}
			}
		}
	}

	&.loaded {
		.titleContainer {
			.title {
				&:before {
					animation: extend-before 0.3s;
					animation-fill-mode: forwards;
				}

				&:after {
					animation: extend-after 0.9s;
					animation-fill-mode: forwards;
					animation-delay: 0.5s;
				}

				animation: fade-in 0.6s;
				animation-fill-mode: forwards;
			}

			&.mobile {
				.left,
				.right {
					animation: fade-in 0.6s;
					animation-fill-mode: forwards;
				}
			}
		}
	}

	.canvas {
		transform: translateX(5px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: calc(100% - 90px);
		max-width: 1210px;
		height: calc(100% - 60px);

		-webkit-mask: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 1) 5%,
			rgba(0, 0, 0, 1) 95%,
			rgba(0, 0, 0, 0) 100%
		);

		&.mobile {
			width: calc(100% - 40px);
		}
	}
}

@keyframes extend-after {
	0% {
		width: 0;
	}

	100% {
		animation-timing-function: cubic-bezier(0.08, 1.07, 0.39, 0.94);
		width: 100%;
	}
}

@keyframes extend-before {
	0% {
		width: 0;
	}

	100% {
		animation-timing-function: cubic-bezier(0.76, 0.22, 0.67, -0.03);
		width: calc(15% - 16px);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
