@use "../../../styles/mixins" as *;

.Experience {
  display: flex;
  height: calc(100% - 48px);
  width: calc(100% - 24px);
  padding: 24px;
  overflow-y: scroll;
  overflow-x: hidden;

  .work {
    width: 50%;

    .timeline {
      border: none;
      margin-left: 7.5px;
      background-color: #555555;
      width: 1px;
      height: 432px;
      z-index: -1;
      margin-bottom: -432px;
    }

    .content {
      display: flex;

      .entries {
        min-width: 220px;
        .entry {
          display: flex;
          align-items: center;
          padding-bottom: 120px;
          color: #555555;

          &.active {
            transition: all 0.15s ease-in;

            color: white;
          }

          .diamond {
            min-height: 16px;
            min-width: 16px;
            rotate: 45deg;
            background-color: #555555;

            &.active {
              transition: all 0.15s ease-in;

              background-color: white;
            }
          }

          .name {
            padding-left: 8px;
            font-family: "HelveticaNeueMedium";
            font-size: 16px;
          }
        }
      }

      .details {
        padding-left: 24px;

        .name {
          font-family: "HelveticaNeueMedium";
          font-size: 20px;
        }

        .title {
          font-family: "HelveticaNeueRegular";
          font-size: 16px;
        }

        .range {
          font-family: "HelveticaNeueRegular";
          font-size: 16px;
        }

        .description {
          font-family: "HelveticaNeueLight";
          font-size: 16px;
        }
      }
    }
  }

  .skills {
    width: 50%;
  }

  .work,
  .skills {
    padding: 16px;
    .header {
      font-family: "HelveticaNeueMedium";
      font-size: 32px;
      padding-bottom: 32px;
    }
  }

  .wrapper {
    opacity: 0.6;
    height: 100%;
    object-fit: cover;
    left: 25%;
    position: absolute;
    z-index: -1;
    overflow: hidden;

    @include breakpoint(mobile) {
      left: 0;
    }

    &:after {
      font-size: 100vw;
      box-shadow: inset 0.05em 0.05em 0.1em 0.1em black;
      @include breakpoint(mobile) {
        box-shadow: inset 0em 0em 0.3em 0.3em black;
      }

      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .image {
      z-index: -2;
      position: relative;
      height: 125%;
      margin-bottom: 5%;
    }
  }
}
