@use "../../../styles/mixins" as *;

.Melee {
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px);
  width: calc(100% - 48px);
  padding: 24px;
  overflow-y: scroll;
  overflow-x: hidden;

  .header {
    font-family: "HelveticaNeueMedium";
    font-size: 34px;
    padding-bottom: 16px;
  }

  .details {
    font-family: "HelveticaNeueLight";
    color: grey;
    font-size: 14px;
  }

  .name {
    font-family: "BebasNeue";
    font-size: 90px;
    margin-top: -12px;
  }

  .bio1,
  .bio2 {
    font-family: "HelveticaNeueLight";
    font-size: 16px;
    padding-bottom: 16px;
  }

  .bio1 {
    position: relative;
    padding-top: 8px;
    width: 400px;

    .fox {
      position: absolute;
      left: 380px;
      top: -90px;
      @include breakpoint(laptop) {
        visibility: hidden;
      }

      .image {
        height: 250px;
      }
    }
  }

  .bio2 {
    max-width: 800px;
    padding-bottom: 32px;
    @include breakpoint(laptop) {
      max-width: 400px;
    }
  }

  .wrapper {
    opacity: 1;
    height: 100%;
    right: 0;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    @media only screen and (max-width: 1400px) {
      visibility: hidden;
    }

    &:after {
      font-size: 100vw;
      background: linear-gradient(
        to right,
        black 0%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 0.4) 70%,
        transparent 100%
      );

      content: "";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .image {
      z-index: -2;
      position: relative;
      height: 100%;
    }
  }

  .achievements {
    display: flex;
    padding-bottom: 36px;

    .achievement {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 180px;
      @include breakpoint(laptop) {
        flex-grow: 1;
        width: fit-content;
      }

      .tournament {
        font-family: "HelveticaNeueRegular";
        font-size: 16px;
        padding-bottom: 12px;
      }

      .placement {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 120px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.05);
        border: 2px solid grey;

        .text {
          font-size: 36px;

          .number {
            font-family: "HelveticaNeueBold";
          }

          .suffix {
            font-family: "HelveticaNeueLight";
          }
        }

        .circle {
          position: absolute;
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background: transparent;
        }

        .arc {
          overflow: hidden;
          position: absolute;
          /* make sure top & left values are - the width of the border */
          /* the bottom right corner is the centre of the parent circle */
          top: -16px;
          right: 50%;
          bottom: 50%;
          left: -16px;
          /* the transform origin is the bottom right corner */
          transform-origin: 100% 100%;
          /* rotate by any angle */
          /* the skew angle is 90deg - the angle you want for the arc */
          transform: rotate(0deg) skewX(36deg);

          &::before {
            box-sizing: border-box;
            display: block;
            border: solid 2px grey;
            width: 200%;
            height: 200%;
            border-radius: 50%;
            transform: skewX(-36deg);
            content: "";
          }

          &.second {
            transform: rotate(180deg) skewX(36deg);
          }
        }
      }

      .total {
        font-size: 16px;
        font-family: "HelveticaNeueLight";
        padding-top: 12px;
        .text {
          color: grey;
        }
      }
    }
  }

  .matches {
    display: flex;
    flex-wrap: wrap;

    .video:not(:last-child) {
      margin-right: 40px;
    }

    .video {
      max-width: calc(calc(100% - 80px) / 3);
    }

    @include breakpoint(laptop) {
      flex-direction: column;

      .video {
        max-width: 100%;
      }

      .video:not(:last-child) {
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }
  }
  .credit {
    font-family: "HelveticaNeueThin";
    color: gray;
    font-size: 14px;
    position: absolute;
    right: 16px;
    bottom: 4px;

    .url {
      text-decoration: none;
    }

    @media only screen and (max-width: 1400px) {
      visibility: hidden;
    }
  }
}
