@use "../../../styles/mixins" as *;

.Climbing {
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px);
  width: calc(100% - 48px);
  padding: 40px;
  @include breakpoint(tablet) {
    height: calc(100% - 32px);
    width: initial;
    padding: 16px;
  }
  overflow-y: scroll;
  overflow-x: hidden;

  .quote {
    font-family: "HelveticaNeueBold";
    font-size: 48px;
    padding-bottom: 16px;
    @include breakpoint(tablet) {
      font-size: 32px;
    }
  }

  .header {
    padding-top: 24px;
    font-family: "HelveticaNeueMedium";
    font-size: 32px;
    padding-bottom: 24px;
  }

  .attribution {
    font-family: "HelveticaNeueLight";
    font-size: 24px;
    align-self: flex-end;
    padding-bottom: 16px;
    padding-right: 16px;
  }

  .bio {
    max-width: 800px;
    font-family: "HelveticaNeueLight";
    font-size: 20px;
  }

  .wrapper {
    opacity: 1;
    height: 100%;
    right: 0;
    opacity: 0.5;
    @include breakpoint(tablet) {
      right: -64px;
    }
    object-fit: cover;
    position: absolute;
    z-index: -1;
    overflow: hidden;

    .image {
      z-index: -2;
      position: relative;
      height: 100%;
    }
  }
}
