.Classes {
  display: flex;
  flex-direction: column;
  height: calc(100% - 80px);
  padding: 40px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "HelveticaNeue";
  width: fit-content;

  &.loading {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;

    .icon {
      color: white;
    }
  }

  .header {
    font-family: "HelveticaNeueMedium";
    font-size: 32px;
    padding-bottom: 8px;
  }

  .wrapper {
    display: flex;

    .classList {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .accordion {
        padding: 0;
        background-color: transparent;
        color: white;
        border-radius: 4px;
        padding: 4px 8px;
        transition: all 0.15s ease-in;
        display: flex;
        flex-direction: column;

        .drawer {
          display: flex;
          flex-direction: column;
          height: 100%;

          .button {
            align-self: flex-end;

            &:hover {
              background-color: white;
              color: black;
            }
          }
        }

        &.active {
          background-color: white;
          color: black;

          .icon {
            visibility: visible;
          }
        }

        .content {
          padding-left: 14px;
          padding-right: 14px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;

          .title {
            font-family: "HelveticaNeueMedium";
          }

          .details {
            opacity: 70%;
            font-family: "HelveticaNeueRegular";
            font-size: 12px;
          }
        }

        .date {
          display: flex;
          flex-direction: column;

          .month {
            font-family: "HelveticaNeueMedium";
            text-transform: uppercase;
            // font-weight: 700;
          }
          .day {
            font-family: "HelveticaNeueBold";
            font-size: 28px;
          }
        }

        .icon {
          margin-left: auto;
          display: flex;
          align-items: center;
        }
      }

      .divider {
        background-color: white;
      }
    }
  }
}
