.Home {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button {
    font-family: "HelveticaNeueMedium";
    opacity: 1;

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      transition: all 0.15s linear;
    }

    span::before,
    span::after {
      content: "";
      position: absolute;
      width: 2px;
      height: 100%;
      background: white;
      transition: all 0.15s linear;
    }

    &:before {
      left: 0;
      bottom: 0;
      transition-delay: 0.45s;
    }

    &:after {
      right: 0;
      top: 0;
      transition-delay: 0.15s;
    }

    span::before {
      left: 0;
      top: 0;
      transition-delay: 0s;
    }

    span::after {
      right: 0;
      bottom: 0;
      transition-delay: 0.3s;
    }

    &:hover {
      background: white;
      color: black;
    }

    &.clicked {
      background: none;
      color: white;
      border: none;
      opacity: 0.5;
      transition: opacity 0.4s;
      transition-delay: 0.3s;

      &:before,
      &:after {
        width: 0;
      }

      span::before,
      span::after {
        height: 0;
      }
    }
  }
}
