@font-face {
	font-family: "Bebas Bold";
	src: url("./fonts/BebasNeue Bold.ttf");
}

@font-face {
	font-family: "Bebas Regular";
	src: url("./fonts/BebasNeue Regular.ttf");
}

@font-face {
	font-family: "Bebas Thin";
	src: url("./fonts/BebasNeue Thin.ttf");
}

@font-face {
	font-family: "Bebas Light";
	src: url("./fonts/BebasNeue Light.ttf");
}

@font-face {
	font-family: "Sans Bold";
	src: url("./fonts/SourceSansPro-Bold.otf");
}

@font-face {
	font-family: "Sans";
	src: url("./fonts/SourceSansPro-Regular.otf");
}

@font-face {
	font-family: "Brandon Medium";
	src: url("./fonts/Brandon_med.otf");
}

@font-face {
	font-family: "Brandon Bold";
	src: url("./fonts/Brandon_bld.otf");
}

@font-face {
	font-family: "Brandon Thin";
	src: url("./fonts/Brandon_thin.otf");
}

@font-face {
	font-family: "Din Pro Medium";
	src: url("./fonts/DINPro-CondMedium.otf");
}

@font-face {
	font-family: "Din Pro";
	src: url("./fonts/DINPro.otf");
}

html, body, body>div {
	height: 100%;
}

body {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}
