@import "./textStyles.scss";

@font-face {
	font-family: "Bebas Bold";
	src: url("./fonts/BebasNeue Bold.ttf");
}

@font-face {
	font-family: "Bebas Regular";
	src: url("./fonts/BebasNeue Regular.ttf");
}

@font-face {
	font-family: "Brandon Medium";
	src: url("./fonts/Brandon_med.otf");
}

@font-face {
	font-family: "Brandon Bold";
	src: url("./fonts/Brandon_bld.otf");
}

html,
body,
body > div {
	height: 100%;
}

body {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track
::-webkit-scrollbar-track {
background: white;
border: 5px solid transparent;
background-clip: content-box;
}
*/

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
	border: 1px solid white;
}

h1 {
	@include header;
	text-decoration: underline;
}

h2 {
	@include header2;
}

p {
	@include body;
}

a {
	@include link;
}

:focus {
	outline: none;
}
