@font-face {
	font-family: "bebasbold";
	src: url("./fonts/BebasNeue Bold.ttf");
}

@font-face {
	font-family: "bebasregular";
	src: url("./fonts/BebasNeue Regular.ttf");
}

@font-face {
	font-family: "bebasthin";
	src: url("./fonts/BebasNeue Thin.ttf");
}

@font-face {
	font-family: "bebaslight";
	src: url("./fonts/BebasNeue Light.ttf");
}

@font-face {
	font-family: "sansbold";
	src: url("./fonts/SourceSansPro-Bold.otf");
}

@font-face {
	font-family: "sans";
	src: url("./fonts/SourceSansPro-Regular.otf");
}

@font-face {
	font-family: "brandonmed";
	src: url("./fonts/Brandon_med.otf");
}

@font-face {
	font-family: "brandonbold";
	src: url("./fonts/Brandon_bld.otf");
}

@font-face {
	font-family: "brandonthin";
	src: url("./fonts/Brandon_thin.otf");
}

@font-face {
	font-family: "dinprocond";
	src: url("./fonts/DINPro-CondMedium.otf");
}

@font-face {
	font-family: "dinpro";
	src: url("./fonts/DINPro.otf");
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background-image: url("https://i.imgur.com/r6E1bPY.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}
