@mixin link {
	color: lightgray;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
		opacity: 0.7;
	}
	&:active, &:focus {
		color: gray;
	}
}

@mixin button {
	border-radius: 0;
	border: 2px solid white;
	color: white;
	transition: all 0.2s linear;

	&:hover {
		background: white;
		color: black;
	}

	&.clicked {
		background: none;
		color: white;
		border: none;
	}
}