@import "/home/r2dliu/r2dliu-website/web/src/breakpoints.scss";

$hamburger-padding-x           : 11px !default;
$hamburger-padding-y           : 11px !default;
$hamburger-layer-width         : 30px !default;
$hamburger-layer-height        : 4px !default;
$hamburger-layer-spacing       : 5px !default;
$hamburger-layer-color         : white !default;
$hamburger-layer-border-radius : 4px !default;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;

.CanvasPage {
    height: 100%;

    .desktop, .mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .desktop {
        flex-direction: row;

        .sideNav {
            display: flex;
            flex-direction: column;
            align-items: center;
            min-width: 250px;
            max-width: 250px;
            height: 100%;

            &:after {
                height: 0;
                position: absolute;
                top: 20px;
                left: 250px;
                width: 2px;
                background: white;
                content: "";
            }

            &.loaded {
                &:after {
                    animation: extend 0.6s;
                    animation-fill-mode: forwards;
                    animation-delay: 0.3s;
                }
            }
        }
    }

    .mobile {
        flex-direction: column;
        height: 100%;

        .mobileNav {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            opacity: 0;
            height: 44px;
            background-color:black;
            width: 100%;
            transition: all .6s ease-in;

            &.loaded {
                opacity: 1
            }

            // begin hamburger css
            .hamburger {
                padding: $hamburger-padding-y $hamburger-padding-x;
                display: flex;
                cursor: pointer;
            
                transition-property: opacity, filter;
                transition-duration: 0.15s;
                transition-timing-function: linear;
            
                font: inherit;
                color: inherit;
                text-transform: none;
                background-color: transparent;
                border: 0;
                margin: 0;
                overflow: visible;
            
                &:hover {
                    opacity: $hamburger-hover-opacity;
                }
            
                &.isActive {
                    &:hover {
                        opacity: $hamburger-active-hover-opacity;
                    }
                
                    border-right: 1px solid grey;

                    .hamburger-inner,
                    .hamburger-inner::before,
                    .hamburger-inner::after {
                        background-color: $hamburger-active-layer-color;
                    }
                }
            }
            
            .hamburgerBox {
                width: $hamburger-layer-width;
                height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
                display: inline-block;
                position: relative;
            }
            
            .hamburgerInner {
                display: block;
                top: 50%;
                margin-top: $hamburger-layer-height / -2;
            
                &,
                &::before,
                &::after {
                width: $hamburger-layer-width;
                height: $hamburger-layer-height;
                background-color: $hamburger-layer-color;
                border-radius: $hamburger-layer-border-radius;
                position: absolute;
                transition-property: transform;
                transition-duration: 0.15s;
                transition-timing-function: ease;
                }
            
                &::before,
                &::after {
                content: "";
                display: block;
                }
            
                &::before {
                top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
                }
            
                &::after {
                bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
                }
            }

            .hamburgerSlider {
                .hamburgerInner {
                    top: $hamburger-layer-height / 2;
            
                    &::before {
                    top: $hamburger-layer-height + $hamburger-layer-spacing;
                    transition-property: transform, opacity;
                    transition-timing-function: ease;
                    transition-duration: 0.15s;
                    }
            
                    &::after {
                    top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
                    }
                }
            
                &.isActive {
                    .hamburgerInner {
                    $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;
            
                    transform: translate3d(0, $y-offset, 0) rotate(45deg);
            
                    &::before {
                        transform: rotate(-45deg) translate3d($hamburger-layer-width / -7, $hamburger-layer-spacing * -1, 0);
                        opacity: 0;
                    }
            
                    &::after {
                        transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
                    }
                    }
                }
            }

            .hamburgerSlider {
                .hamburgerInner {
                    top: $hamburger-layer-height / 2;

                    &::before {
                        top: $hamburger-layer-height + $hamburger-layer-spacing;
                        transition-property: transform, opacity;
                        transition-timing-function: ease;
                        transition-duration: 0.15s;
                    }

                    &::after {
                        top: ($hamburger-layer-height * 2) + ($hamburger-layer-spacing * 2);
                    }
                }

                &.isActive {
                    .hamburgerInner {
                        $y-offset: $hamburger-layer-spacing + $hamburger-layer-height;

                        transform: translate3d(0, $y-offset, 0) rotate(45deg);

                        &::before {
                        transform: rotate(-45deg) translate3d($hamburger-layer-width / -7, $hamburger-layer-spacing * -1, 0);
                        opacity: 0;
                        }

                        &::after {
                        transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg);
                        }
                    }
                }
            }

            // end hamburger css
        }

        .menuOverlay {
            position: absolute;
            top: 44px;
            width: 100%;
            height: calc(100% - 40px);
            background: rgb(10, 10, 10);
            opacity: 0.7;
            transition: all 250ms cubic-bezier();
            
            &.show {
                opacity: 0.7;
            }

            .menu {
                margin-top: 20px;
                padding-left: 15px;
            }
        }
    }

    .canvas {
        width: 100%;
        height: 100%;

        &.show {
            opacity: 0.5;
            -webkit-filter: blur(4px);
            -moz-filter: blur(4px);
            -o-filter: blur(4px);
            -ms-filter: blur(4px);
            filter: blur(4px);
        }
    }
}

@keyframes extend {
    0% {
        height: 0;
    }

    100% {
        animation-timing-function: cubic-bezier(.02,1.18,.73,.98);
        height: calc(100% - 40px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }

    90% {
        animation-timing-function: cubic-bezier();
        opacity: 1;
        transform: translateY(-2px);
    }

    100% {
        animation-timing-function: cubic-bezier();
        opacity: 1;
        transform: translateY(0px);
    }
}